$main-bg-color: rgb(126, 130, 132);
$aside-bg-color: rgb(64, 81, 96);
$btn-bg-color: aliceblue;
$text-color: rgb(221, 216, 216);
$link-hover-color: rgb(25, 41, 50);
$border-color: rgb(129, 127, 127);
