//Colors
$color-wh: #ffffff;
$color-header-bl: #8a93e5;
$color-header-btn: #317189;
$color-header-dark-bl: #31546d;
$color-header-basket: #ff2b77;
$font-grey: #4f4f4f;
// Fonts sz
//16px
$fzs: 1.6rem;
$fzm: 2rem;
$fzb: 6.4rem;
$fzl: 4rem;
//Gaps
$gap-item: 1.6rem;
$header-gap: 6.5rem;
$menu-gap: 5rem;
